# Initially created by following https://orchid00.github.io/actions_sandbox/packageci.html#set-up-package
# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/R-CMD-check.yaml'
      - 'R/**/*'
      - 'inst/**/*'
      - 'man/**/*'
      - '.Rbuildignore'
      - 'DESCRIPTION'
      - 'NAMESPACE'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/R-CMD-check.yaml'
      - 'R/**/*'
      - 'inst/**/*'
      - 'man/**/*'
      - '.Rbuildignore'
      - 'DESCRIPTION'
      - 'NAMESPACE'

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: '3.6.3'}
          - {os: ubuntu-20.04, r: '4.1.1'}
          # CRAN submission required to use this R version
          - {os: ubuntu-20.04, r: 'release'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: https://packagemanager.rstudio.com/cran/__linux__/focal/latest

    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check      
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/check-r-package@v2


# ######################################################################################################################
# Package submission checks
# https://cran.r-project.org/web/packages/policies.html#Submission
# ######################################################################################################################
      - name: Build the source package
        run: |
          R CMD build .
          ls -la
      - name: Upload the source package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-source-package
          path: bpmnVisualization_*.tar.gz


      #  Sets up LaTeX with tinytex, for PDF generation
      # not needed before as the checks on the repo sources are done with --no-manual
      - uses: r-lib/actions/setup-tinytex@v2

      - name: Check the source package
        id: source_package_checks
        uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--as-cran", "bpmnVisualization_*.tar.gz")'
          build_args: 'c()'
          check-dir: '"bpmnVisualization.Rcheck"'
