# Initially created by following https://orchid00.github.io/actions_sandbox/packageci.html#set-up-package
# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: '3.6.3'}
          - {os: ubuntu-20.04, r: '4.1.1'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: https://packagemanager.rstudio.com/cran/__linux__/focal/latest

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v1

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Restore R package cache
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          while read -r cmd
          do
            eval sudo $cmd
          done < <(Rscript -e 'writeLines(remotes::system_requirements("ubuntu", "20.04"))')

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
        shell: Rscript {0}

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: |
          options(crayon.enabled = TRUE)
          rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "warning", check_dir = "check")
        shell: Rscript {0}

      # TODO use when introducing tests (https://github.com/process-analytics/bpmn-visualization-R/issues/6)
      # - name: Show testthat output
      #   if: always()
      #   run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
      #   shell: bash

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-check-results
          path: check

# ######################################################################################################################
# Package submission checks
# https://cran.r-project.org/web/packages/policies.html#Submission
# ######################################################################################################################
      - name: Build the source package
        run: |
          R CMD build .
          ls -la
      - name: Upload the source package
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-source-package
          path: bpmnVisualization_*.tar.gz


      #  Sets up LaTeX with tinytex
      # not needed before as the checks on the repo sources are done with --no-manual
      - uses: r-lib/actions/setup-tinytex@v1

# TODO no hard coded file name, as it depends on the package version
      - name: Check the source package
        id: source_package_checks
        run: |
          rm -rf check
          R CMD check --as-cran bpmnVisualization_0.1.0.tar.gz
          exit 12

      - name: Upload source package check results
        if: steps.source_package_checks.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-source-package-check-results
          path: bpmnVisualization.Rcheck
