# Initially created by following https://orchid00.github.io/actions_sandbox/packageci.html#set-up-package
# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
    tags:
      -  v*
    paths:
      - '.github/actions/build-setup/**/*'
      - '.github/workflows/R-CMD-check.yaml'
      - 'R/**/*'
      - 'inst/**/*'
      - 'man/**/*'
      - '.Rbuildignore'
      - 'DESCRIPTION'
      - 'NAMESPACE'
  pull_request:
    branches:
      - main
    paths:
      - '.github/actions/build-setup/**/*'
      - '.github/workflows/R-CMD-check.yaml'
      - 'R/**/*'
      - 'inst/**/*'
      - 'man/**/*'
      - '.Rbuildignore'
      - 'DESCRIPTION'
      - 'NAMESPACE'

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: '3.6.3'}
          - {os: ubuntu-20.04, r: '4.1.1'}
          # CRAN submission required to use this R version
          - {os: ubuntu-20.04, r: 'release'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: https://packagemanager.rstudio.com/cran/__linux__/focal/latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build-setup
        with:
          dependencies-extra-packages: any::rcmdcheck
          dependencies-needs: check
          r-version: ${{ matrix.config.r }}
      - uses: r-lib/actions/check-r-package@v2


# ######################################################################################################################
# Package submission checks
# https://cran.r-project.org/web/packages/policies.html#Submission
# Run custom build and check commands, not provided by the r-lib actions
# ######################################################################################################################
      - name: Build the source package
        run: |
          R CMD build .
          ls -la
      - name: Upload the source package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-source-package
          path: bpmnVisualization_*.tar.gz
      - name: Check the source package
        id: source_package_checks
        run: R CMD check --as-cran bpmnVisualization_*.tar.gz

      - name: Upload source package check results
        if: ${{ failure() && steps.source_package_checks.outcome == 'failure' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-source-package-check-results
          path: bpmnVisualization.Rcheck
